.contain{
    margin-top: 60px;
   height: 535px;
}
.lg-4{
    color :white;
}
.heads{
    font-weight: 600;
    font-size: 29px;
}
.cards{
    /* white-space: pre-wrap; */
    margin-left: 10px;
    width:350px;
    text-decoration: none;
    &:hover{
        background-color: #99999934;
    }
   
}
.cardimages{
    height: 80px;
    width: 80px;
    /* background-color: white; */
}
.cardtext{
    white-space: pre-wrap;
    padding-left: 10px;
}
.hok{
    text-decoration: none;
   
}
